
section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 80px;
    margin-top: -10px;
}
.half-width .heading-text{
    margin-top: 150px;
}

.half-width img{
    width: 70%;
}

.font-size{
    font-size: 40px;
}

.half-width p{
    padding-right: 10%;
    font-size: 18px;
    margin-top: 40px;
}

#explore-btn{
    text-decoration: none;
    padding: 8px 14px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
}

#explore-btn:hover{
    color: red;
    transition: .4s;
}

#first-heading{
    margin-bottom: -53px;
}

.heading-text{
    border-left: 5px solid orange;
    height: 120px;
}

#text-center{
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    margin-bottom: 80px;
}

.text-color{
    color: tomato;
}

.second-part-1st-portion{
    width: 25%;
    padding-left: 30px;
    background-color: #f7d7f7;
    margin-left: 60px;
    border-radius: 14px;

}

.second-part-1st-portion img{
    height:42%;
    width: 40%;
    margin-left: -10px;
    margin-bottom: -10px;
}

.second-part-1st-portion p{
    font-size: 16px;
}

.second-part-2nd-portion{
    width: 25%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(197, 255, 255);
    margin-left: 30px;
    border-radius: 14px;
}

.second-part-2nd-portion p{
    font-size: 16px;
}
.second-part-2nd-portion img{
    height:42%;
    width: 40%;
    margin-left: -12px;
    margin-bottom: -10px;
}

.second-part-3rd-portion{
    width: 25%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(210, 228, 255);
    margin-left: 30px;
    border-radius: 14px;
}

.second-part-3rd-portion p{
    font-size: 16px;
}    
.second-part-3rd-portion img{
    height:42%;
    width: 40%;
    margin-left: -10px;
    margin-bottom: -10px;
}

.coding-pic-part{
    margin-top: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 180px;
}
.global-community{
    margin-bottom: 50px;
}

.for-top{
    margin-top: 100px;
}

.footer-content{
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 37);
    padding-top: 30px;
    padding-bottom: 30px;
}
